* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid black;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column-start: 2;
}

.sidebar {
    grid-row: 1 / -1;
}

.main {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}